body {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    background-image: url("../images/img_fondoweb.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;

}
.label {
    margin-top: 2% !important;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: white !important;
}
.input{
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: black !important;
  }

.margenBoton {
    margin-left: 38%;
    margin-top: 2%;
}
.titulo{
        margin-top: 2% !important;
        margin-bottom: 2% !important;
        text-align: center;
        margin: 0 auto;
        width: 500px;
        color: white;
}
small{
    color: white;
}