body {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    background-image: url("../images/img_fondoweb.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;
}
.form-group {
    margin-top: 2% !important;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: white !important;
}
.form-control{
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: black !important;
  }
.titulo{
    margin-top: 5% ;
    text-align: center;
    color: white;
}   
.ctrl {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 43%;
}
