body {
  background-image: url("../images/img_fondoweb.png");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: 100% 100% !important;
}
.form-container {
  text-align: center;
  width: 40% !important;
  color: white !important;
  margin: auto;
  margin-top: 4%;
}
.form-control{
    text-align: center;
}
