.label {
    color: white !important;
    text-align: center !important;
}

.margen {
    margin-top: 3% !important;
    margin-bottom: 2% !important;

}

.margen2 {
    margin-top: 4% !important;
    margin-bottom: 4px !important;

}

.fondoformulario {
    margin-top: 15px;
    background-image: url("../images/img_fondoweb.png");
    text-align: center;
    color: white !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;

}

.tamanoCrud {
    width: 100% !important;
}

.fila:hover {
    background-color: #eee !important;
}