body {
    background-image: url("../images/img_fondoweb.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;
    text-align: center;
}

.table {
    color: white !important;
}

.bm {
    border-radius: 15px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: rgba(128, 128, 128, 0.4) !important;

}

.fila:hover {
    background-color: #f5f5f5;
}


.container_direcciones {
    text-align: center;
    width: 100% !important;
    color: white !important;
    margin: auto;
    margin-top: 5% !important;
}