body {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    background-image: url("../images/img_fondoweb.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;
}

.ctrl {
    margin-left: 45%;
}
.ctrl2 {
    margin-left: 42%;
    margin-bottom: 5%;
}

.titulo {
    margin-top: 2% !important;
    margin-bottom: 2% !important;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: white;
}
.tabla {
    width: 90% !important;
}
.fila:hover {
    background-color: transparent !important;
}

/* funcion para cambiar color de los campos de datos */
td{
    color: white !important; 
}
tr{
    color: white !important; 
}
.table-hover{
    color: white !important; 
}
