.label {
    color: white !important;
    text-align: center !important;
}

.margen {
    margin-top: 3% !important;
    margin-bottom: 1% !important;

}

.margen2 {
    margin-bottom: 2% !important;

}

.fondoformulario {
    margin-top: 15px;
    background-image: url("../images/fondo_formulario.png");
    text-align: center;
    color: white !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;

}

.tamanoCrud {
    width: 100% !important;
}

.fila:hover {
    background-color: #eee !important;
}