body {
    margin: auto;
  }
  
  .btn {
    color: white !important;
  }
  
  .fondo {
    background-image: url("../../images/img_fondoweb.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 2%;
  }
  .fondo2 {
    background-image: url("../images/img_fondoweb.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 2%;
  }
  .fondo3 {
    background-image: url("../../../images/img_fondoweb.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-top: 2%;
  }