.container {
    padding: 2%
}

.botones {
    margin-left: 5%;
}
.fondo {
    background-image: url("../images/fondo_formulario.png");
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;
    border-radius: 5px;
}