body {
    background-image: url("../images/img_fondoweb.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;
}
.titulo{
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 1%;
}

footer{
    margin-top: 3%;
}