/* Estilos generales del body */
body {
  background-image: url("../images/img_fondoweb.png");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: 100% 100% !important;
}

.titulo {
    padding: 1%; /* Ajusta el valor según tu preferencia */
    font-size: 20px !important;
    text-align: center !important;
    color: white !important;
    font-family: 'Georgia', serif; /* Cambiar 'Georgia' por la fuente serif que desees usar */
    margin-top: 7% !important;
}

.carousel,
.img {
  border: 2%;
  border-radius: 2%;
  border-style: none;
}

