body {
  background-image: url("../images/img_fondoweb.png");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: 100% 100% !important;
}

.form {
  padding: 6%;
  text-align: center;
}

.form-group {
  text-align: center;
  margin: auto;
  width: 50%;
}

.form-control {
  text-align: center;
  margin: auto;
  width: 50%;
}

.txt {
  color: white !important;
}
