.formulario {
    width: 50% !important;
    margin-left: 25% !important;
}

.margen {
    margin-top: 15px !important;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: white !important;
}

.input {
    margin-top: 15px !important;
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: black !important;
}
.input2 {
    text-align: center;
    margin: 0 auto;
    width: 500px;
    color: black !important;
}
.body {
    background-image: url("../images/fondo_formulario.png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;

}

.fondoformulario {
    margin-top: 15px;
    background-image: url("../images/fondo_formulario.png");
    text-align: center;
    border-radius: 22px;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;
}

.boton {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.titulo{
    padding-top: 30px !important;
}