body {
    background-image: url("../images/img_fondoweb.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;
}

.form {
    padding: 6%;
    text-align: center;
}

.form-group {
    margin-top: 2% !important;
    margin-bottom: 1% !important;
    text-align: center;
    margin: auto;
    width: 50%;
    color: white !important;
}

.form-control {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    color: black !important;
}

.txt {
    color: white !important;
}
.titulo{
    color: white !important;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
}