body {
    background-image: url("../../../images/img_fondoweb.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 100% 100% !important;
    text-align: center !important;
    color: white !important;
}

  .bm {
    border-radius: 15px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: rgba(128, 128, 128, 0.4) !important;
  }
  
  .container_r_maquinaria {
    text-align: center !important;
    width: 69% !important;
    margin: auto;
    margin-top: 4%;
  }
  .mt{
    margin-top: 4%;
    margin-bottom: 10%;
  }
