body {
  background-image: url("../images/img_fondoweb.png");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-size: 100% 100% !important;
  color: white !important;
}

.form-container {
  text-align: center !important;
}

.form-control{
  text-align: center !important;
}
.mg{
  text-align: center !important;
  margin-left: 23% !important;
}

.txt{
  margin-top: 6% !important;
}
